/*цвета*/
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

/*MAIN*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: var(--white);
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.conteiner {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding: 120px 0;
}
/*Header*/
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navy-blue);
  margin-right: 76px;
}

.logo-style {
  color: var(--iris);
}

.address-header {
  display: flex;
  gap: 40px;
}

.main-header {
  /* width: 1440px; */
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e7e9fc;
}

.menu-nav {
  display: flex;
  gap: 40px;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--ocean);
}

.address {
  font-style: normal;
}

.address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.address-link:hover,
.address-link:focus {
  color: var(--ocean);
}

/* MAIN*/
.main-title {
  padding: 188px 472px 48px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
}

.button {
  background-color: var(--iris);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
  padding: 16px 32px;
  margin-bottom: 188px;
}

.button:hover,
.button:focus {
  background-color: var(--ocean);
  color: var(--white);
}

.section-main {
  background-color: var(--navy-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

/*Our Features*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.conteiner-main {
  display: flex;
  max-width: 1440px;
  gap: 24px;
  align-items: center;
  margin: 0;
  justify-content: center;
}

.title-features {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.paragraph-features {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/*Our Team*/
.section-team {
  background-color: var(--cloud);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-conteiner {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0 auto;
  padding: 0;
}

.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  padding-bottom: 72px;
}

.title-team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  padding-top: 32px;
  padding-bottom: 8px;
}

.paragraph-team {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--slate);
}

.image-team {
  background-color: var(--white);
  width: 264px;
  padding: 0;
}

/* Our Portfolio */

.conteiner-cards-portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  justify-content: center;
  width: 100%;
  max-width: 1128px;
  margin: 0 auto;
}

.cards-style {
  width: 360px;
  flex: 0 0 360px;
  border: none;
  border-bottom: 1px solid #e7e9fc;
  background-color: var(--white);
}

.title-portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  padding-bottom: 72px;
}

.h-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  padding-top: 32px;
  padding-bottom: 8px;
  padding-left: 16px;
}

.paragraph-portfolio {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  padding-left: 16px;
}

/* footer */
.footer {
  background-color: var(--navy-blue);
  display: flex;
  flex-direction: column;
  padding: 100px 0;
  gap: 17.5px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--cloud);
}

.footer-paragraf {
  max-width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
}
